.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}.g0-cnt-btn{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;}.g0-cnt-btn.center{-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}.g0-btn{max-width:330px;width:100%;height:60px;background-color:#004165;border:none;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;font-size:24px;font-family:'BrandonGrotesque-Medium',sans-serif;color:#fff;border-radius:40px}.g0-check{position:relative;font-size:13px;padding-left:25px;}.g0-check a:hover{text-decoration:underline}.g0-check input[type="checkbox"]{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);visibility:hidden;position:absolute;top:0;left:0;}.g0-check input[type="checkbox"]:checked + label .g0-check_icon:before{opacity:1;-ms-filter:none;filter:none;visibility:visible}.g0-check_text p{margin-bottom:0}.g0-check_icon{display:block;width:15px;height:15px;border:1px solid #004165;border-radius:100%;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;margin-right:8px;position:absolute;top:5px;left:0;}.g0-check_icon:before{content:"✔";display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:100%;height:100%;color:#004165;font-family:'BrandonGrotesque-Regular',sans-serif;font-size:10px;visibility:hidden;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-o-transition:all 0.25s ease;-ms-transition:all 0.25s ease;transition:all 0.25s ease;position:absolute;top:0;left:0}.g0-required{font-size:11px;padding-left:25px}.g0-input{margin-bottom:25px;}.g0-input ::-webkit-input-placeholder{color:#004165;font-family:'BrandonGrotesque-Regular',sans-serif}.g0-input :-moz-placeholder{color:#004165;font-family:'BrandonGrotesque-Regular',sans-serif}.g0-input ::-moz-placeholder{color:#004165;font-family:'BrandonGrotesque-Regular',sans-serif}.g0-input :-ms-input-placeholder{color:#004165;font-family:'BrandonGrotesque-Regular',sans-serif}.g0-input:last-child{margin-bottom:0}.g0-input input{width:100%;height:42px;line-height:42px;font-size:15px;padding:0 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #004165;border-radius:20px;background:none}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}.wrapp-iframe-general{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:6px;overflow:hidden;background-color:#9fab26;display:block;padding-top:0;}.wrapp-iframe-general:first-child{padding-top:6px}.name-dev{position:absolute;top:2px;left:0;font-family:'Arial',sans-serif;color:#9fab26;border-bottom:2px solid #9fab26;text-transform:uppercase;margin-left:15px}.btn-copy{background-color:#9fab26;display:inline-block;color:#fff;margin-bottom:10px;padding:5px;cursor:pointer;}.btn-copy.hover{background-color:#808080}.inner-general{background:#fff;padding:20px 0}.general-wrapper{padding:10px;border:1px dashed #808080;width:98%;margin:auto;margin-top:30px}.block-general{padding:5px}
.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
}
.b1 .g0-cnt-btn {
  margin-top: 40px;
}
.b1 .owl-leg {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  right: 0;
  z-index: 10;
  color: #004165;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.b1 .owl-this {
  font-size: 42px;
  margin: 0;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  line-height: 100%;
}
.b1 .owl-total {
  position: relative;
}
.b1 .owl-total:after {
  content: "";
  background-color: #004165;
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: -3px;
  right: 0;
}
.b1-progress {
  background-color: #65d800;
  width: 80%;
  height: 100%;
}
.b1-wrap-pager {
  height: 15vh;
  position: relative;
}
.b1-separation,
.owl-total {
  font-size: 18px;
  font-family: 'BrandonGrotesque-Medium', sans-serif;
  margin: 0;
}
.b1-separation {
  margin: 0 5px;
  margin-left: 10px;
}
.b1-title {
  font-size: 20px;
  font-family: 'BrandonGrotesque-Medium', sans-serif;
  margin-bottom: 30px;
}
.b1-cnt-slide,
.b1-wrap-form {
  width: 50%;
}
.b1-cnt-slide {
  position: relative;
  z-index: 2;
}
.b1-wrap-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b1-bgform {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.b1-itemsl {
  height: calc(85vh - 80px);
  position: relative;
}
.b1-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.b1-wrap-form {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}
.b1-inner {
  max-width: 330px;
  position: relative;
  z-index: 2;
}
.b1-form {
  margin-bottom: 30px;
}
.b1-scroll {
  width: 88px;
  height: 192px;
  background-color: #004165;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 10;
}
.b1-scroll-text {
  margin: 0;
  position: relative;
  top: 60px;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  font-size: 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.b1-scroll-image {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}
.cf{zoom:1;}.cf:after,.cf:before{content:"";display:table}.cf:after{clear:both}.footer-copy{overflow:hidden;font-size:13px;height:32px;}.footer-copy .wancho{overflow:hidden;margin-top:9px}.footer-copy-left{float:left;}.footer-copy-left p{margin:0}.footer-copy-right{float:right}.staffcreativa{position:relative;padding-right:.45em;-webkit-transition:all 0.25s;-moz-transition:all 0.25s;-o-transition:all 0.25s;-ms-transition:all 0.25s;transition:all 0.25s;font-family:'arial';}.staffcreativa:after{content:'\e60e';font-family:'icomoon';font-size:.7em;font-style:normal;font-variant:normal;font-weight:normal;line-height:1;position:absolute;right:0;speak:none;text-transform:none;top:.1em}.link-staff:hover .staffcreativa{color:#000}@media screen and (max-width:620px){.footer-copy{height:auto;text-align:center;font-size:12px;margin:auto;padding:8px 0 12px}.footer-copy-left{float:none}.footer-copy-right{float:none}}
.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  background-color: #004165;
}
.header .wancho {
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.h-logo {
  margin: 0;
}
.h-logo img {
  max-width: 100%;
  height: auto;
}
.h-menu {
  width: 310px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.h-nav-link {
  text-align: center;
  width: 33.33%;
  color: #fff;
  font-size: 12px;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-transform: uppercase;
}
.responsive-logo {
  margin-top: 10px;
  width: 80%;
  display: block;
}
.responsive-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.menu-overlay.active {
  z-index: 1000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.menu-mobile-close,
.menu-mobile-open {
  background-color: #65d800;
  border-radius: 7%;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  height: 42px;
  line-height: 42px;
  position: fixed;
  right: 5px;
  text-align: center;
  top: 5px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-mobile-open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: hidden;
  z-index: 1002;
}
.menu-mobile-open.scrolling {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.menu-mobile-open:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  right: 220px;
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-mobile-close {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
  background: #fff;
  color: c-first;
}
.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 205px;
  z-index: 1002;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-sidebar {
  width: 200px;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -200px;
  background: #fff;
  z-index: 1000;
  -webkit-transition: right 0.45s ease;
  -moz-transition: right 0.45s ease;
  -o-transition: right 0.45s ease;
  -ms-transition: right 0.45s ease;
  transition: right 0.45s ease;
}
.menu-sidebar.active {
  right: 0;
}
.menu-responsive {
  padding-top: 10px;
}
.menu-responsive .menu-item {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}
.menu-responsive .menu-item a {
  display: block;
  text-indent: 20px;
}
.menu-responsive .menu-item a:hover,
.menu-responsive .menu-item a.active {
  background-color: #65d800;
  color: #fff;
}
.cnt-wrapper,
.footer {
  position: relative;
  left: 0;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
}
.cnt-wrapper.active,
.footer.active {
  left: -200px;
}
.wrapper {
  overflow: hidden;
}
body.active {
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .menu-mobile-open {
    visibility: visible;
  }
}
