.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
}
.b1 .g0-cnt-btn {
  margin-top: 40px;
}
.b1 .owl-leg {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  right: 0;
  z-index: 10;
  color: #004165;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.b1 .owl-this {
  font-size: 42px;
  margin: 0;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  line-height: 100%;
}
.b1 .owl-total {
  position: relative;
}
.b1 .owl-total:after {
  content: "";
  background-color: #004165;
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: -3px;
  right: 0;
}
.b1-progress {
  background-color: #65d800;
  width: 80%;
  height: 100%;
}
.b1-wrap-pager {
  height: 15vh;
  position: relative;
}
.b1-separation,
.owl-total {
  font-size: 18px;
  font-family: 'BrandonGrotesque-Medium', sans-serif;
  margin: 0;
}
.b1-separation {
  margin: 0 5px;
  margin-left: 10px;
}
.b1-title {
  font-size: 20px;
  font-family: 'BrandonGrotesque-Medium', sans-serif;
  margin-bottom: 30px;
}
.b1-cnt-slide,
.b1-wrap-form {
  width: 50%;
}
.b1-cnt-slide {
  position: relative;
  z-index: 2;
}
.b1-wrap-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b1-bgform {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.b1-itemsl {
  height: calc(85vh - 80px);
  position: relative;
}
.b1-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
.b1-wrap-form {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}
.b1-inner {
  max-width: 330px;
  position: relative;
  z-index: 2;
}
.b1-form {
  margin-bottom: 30px;
}
.b1-scroll {
  width: 88px;
  height: 192px;
  background-color: #004165;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 10;
}
.b1-scroll-text {
  margin: 0;
  position: relative;
  top: 60px;
  font-family: 'BrandonGrotesque-Bold', sans-serif;
  font-size: 12px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.b1-scroll-image {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
