.b1
	position relative
	overflow hidden
	.g0-cnt-btn
		margin-top 40px
	
	// .owl-nav
	.owl-leg
		position absolute
		bottom 50%
		transform translateY(50%)
		right 0
		z-index 10
		color c-0
		display flex
		align-items flex-start
	.owl-this		
		font-size 42px
		margin 0
		font-family t-2
		line-height 100%
	.owl-total		
		position relative
		&:after
			content ""
			background-color c-0
			height 3px
			position absolute
			width 100%
			bottom -3px
			right 0
	.owl-nav
		position absolute
		right 20px
		bottom 20px
		display flex
		
	.owl-prev,
	.owl-next
		font-size 40px
		color #fff
		cursor pointer
		&:hover
			color c-2
	.owl-prev
		margin-right 40px
	&.anima
		.b1-title
			opacity 1
			transform translateX(0)
		.b1-right
			opacity 1
			transform translateX(0)
		.b1-circle
			opacity 1
			transform scale(1)
		.b1-rectangulo
			opacity 1
			transform translateX(0px)
		.b1-scroll
			opacity 1
			transform translateY(0px)		

.b1-title-gracias
	font-size 30px
	font-family t-1
	margin-bottom 20px	
	text-align center

.b1-content-gracias
	text-align center
	p
		margin-bottom 0
		font-size 20px

.b1-content
	display flex
	flex-flow row wrap	

.b1-main-form
	position relative
	.b1-inner
		position absolute
		right 0
		top calc(((100vh / 2) - 80px) - 30vh)

	@media screen and (max-height 670px)
		.g0-input
			margin-bottom 15px 		
			
.b1-rectangulo
	position absolute
	z-index 4
	left 0
	top 60px
	opacity 0
	transform translateX(-100px)
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s;
.b1-progress
	background-color c-1
	width 80%
	height 100%
.b1-wrap-pager	
	height 15vh
	position relative
.b1-circle
	position absolute
	z-index 4
	left 0
	right 0
	margin 0 auto
	top 20px
	opacity 0
	transform scale(0.5)
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s;
	transition-delay 0.25
.b1-right
	opacity 0
	transform translateX(100px)
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s;				
	transition-delay .3s
.b1-separation, .owl-total		
	font-size 18px
	font-family t-1
	margin 0
.b1-separation
	margin 0 5px
	margin-left 10px
.b1-title
	font-size 20px
	font-family t-1
	margin-bottom 30px
	opacity 0
	transform translateX(100px)
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s;

.b1-cnt-slide
.b1-wrap-form
	width 50%

.b1-cnt-slide
	position relative
	z-index 2
		

.b1-wrap-form
	display flex
	align-items center
	padding-left 60px
	box-sizing border-box
	position relative

.b1-bgform
	position absolute
	top 0
	right 0
	width 60vw
	height 100%
	background-size cover
	background-position center
	z-index 1
	
.b1-itemsl	
	height calc(85vh - 80px)
	position relative

.b1-bg	
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-size cover
	background-position center

.b1-wrap-form
	background-size cover
	background-position center	
	height calc(100vh - 80px)	

.b1-inner	
	max-width 330px
	position relative
	z-index 2

.b1-form	
	margin-bottom 30px


.b1-scroll
	width 88px
	height 192px
	background-color c-0
	position absolute
	bottom 0
	left 0
	color #fff
	z-index 10
	opacity 0
	transform translateY(100px)
	transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s;
	transition-delay 0.75s
.b1-scroll-text	
	margin 0
	position relative
	top 60px
	font-family t-2
	font-size 12px
	transform rotate(90deg)

.b1-scroll-image
	position absolute
	bottom 20px
	left 0
	width 100%
	text-align center
	

@media screen and (max-width 1024px)	
	.b1-cnt-slide
		width 65%

	.b1-wrap-form
		width 35%
		padding 0 20px
		height calc(100vh - 60px)
	.b1-wrap-pager		
		height calc(18vh - 6px)
@media screen and (max-width 768px)	
	.b1-cnt-slide	
		width 100%

	.b1-wrap-form
		background-color rgba(c-2,0.8)
		width 280px
		position absolute
		top 0
		z-index 10
		right 20px
		height auto
		padding 15px
		top 50%
		transform translateY(-53%)
	.b1-bgform		
		width 100%
		display none
	.b1 .g0-cnt-btn		
		margin-top 20px	
		
	.b1-form		
		margin-bottom 10px
		
	.b1-title		
		margin-bottom 20px
		text-align center

	.b1-scroll
		display none
	.b1-progress		
		display none
	.b1-wrap-pager		
		height 60px
		background-color c-0
	.b1 .owl-leg	
		color #fff
		align-items center
		right 10px
	.b1 .owl-this		
		font-size 30px
	.b1 .owl-prev		
		margin-right 10px
	.b1 .owl-nav		
		left 10px
		right inherit
		bottom -55px
		
	.b1 .owl-prev, .b1 .owl-next		
		font-size 30px

@media screen and (max-width 480px)	
	.b1-itemsl
		height 300px
	.b1-wrap-form
		position static
		transform translateY(0)
		width 100%
		padding-top 40px
		padding-bottom 40px
	
	.b1-inner
		margin 0 auto
		