.b3
	padding 50px 0 0 0

.b3content
	max-width 1190px

.b3head,
.b3foot
	max-width 930px
	width 100%
	margin 0 auto

.b3franja
	max-width 431px
	width 100%
	margin 0 0 60px auto
	img
		img-res()

.b3title
	h2
		line-height 1
		color c-0
		font-family t-2
		font-weight normal
		font-size 30px
		text-align center
		margin 0

.b3circle_big
	width 39px
	margin 0 0 0 84px
	img
		img-res()

.b3circle_small
	width 11px
	margin 0 295px 0 auto
	img
		img-res()

.b3slider
	li
		box-sizing border-box
		padding 35px 19px 75px 19px

.b3flex
	display flex
	flex-direction row
	flex-wrap wrap
	li
		width 20%

.b3box
	display block
	width 100%
	min-height 228px
	box-shadow 0 10px 15px 0 rgba(0, 0, 0, .1)
	box-sizing border-box
	padding 27px 10px

.b3subtitle
	h3
		line-height 1.1
		color c-0
		font-family t-1
		font-size 20px
		text-align center
		margin 0

.b3images
	width 77px
	position relative
	margin 0 auto

.b3img_normal
	width 100%
	img
		img-res()

.b3img_hover
	width 100%
	img
		img-res()

.b3circle_paleta
	width 86px
	margin 0 0 0 48px
	img
		img-res()