.b3
	background #fff url('../img/b3-img-patron.png') repeat
	padding 50px 0 65px 0

.b3content
	max-width 1190px

.b3head,
.b3foot
	max-width 930px
	width 100%
	margin 0 auto

.b3franja
	max-width 431px
	width 100%
	margin 0 0 60px auto
	img
		max-width 100%
		height auto

.b3title
	h2
		line-height 1
		color c-0
		font-family t-2
		font-weight normal
		font-size 30px
		text-align center
		margin 0

.b3circle_big
	width 39px
	margin 0 0 0 84px
	img
		max-width 100%
		height auto

.b3circle_small
	width 11px
	margin 0 295px 0 auto
	img
		max-width 100%
		height auto

.b3slider
	li
		box-sizing border-box
		padding 35px 19px 75px 19px

.b3flex
	display flex
	flex-flow row wrap
	li
		width 20%

.b3box
	display block
	width 100%
	min-height 228px
	background c-3
	box-shadow 0 10px 15px 0 rgba(0, 0, 0, .1)
	position relative
	box-sizing border-box
	padding 27px 10px
	&:before
		content ""
		width 48px
		height 2px
		background c-0
		transition all .25s ease-in-out
		position absolute
		bottom 27px
		left 28px


.b3box
	@media screen and (min-width 1025px)
		&:hover
			background c-0
			&:before
				background c-3

			.b3subtitle h3
				color c-3

			.b3img_normal
				opacity 0
				transition opacity .15s ease
				position absolute
				top 0
				left 0

			.b3img_hover
				opacity 1
				transition opacity .15s ease
				position relative

			.b3curvas_normal
				opacity 0
				visibility hidden

			.b3curvas_hover
				opacity 1
				visibility visible

.b3subtitle
	margin-bottom 30px
	h3
		line-height 1.1
		color c-0
		font-family t-1
		font-size 20px
		text-align center
		transition all .25s ease-in-out
		margin 0

.b3images
	width 77px
	position relative
	margin 0 auto

.b3img_normal
	width 100%

	img
		max-width 100%
		height auto

.b3img_hover
	width 100%
	opacity 0
	position absolute
	top 0
	left 0

	img
		max-width 100%
		height auto

.b3curvas
	width 73px
	position absolute
	right 0
	bottom 0
	img
		max-width 100%
		height auto

.b3curvas_normal
	opacity 1
	visibility visible

.b3curvas_hover
	opacity 0
	visibility hidden

.b3paleta
	width 86px
	margin 0 0 0 48px
	img
		max-width 100%
		height auto