.b4
	background-color c-0
	padding 65px 0
	
	.owl-dots
		position absolute
		width 100%
		left 0
		bottom -50px
		display flex
		justify-content center
		
	.owl-dot
		width 12px
		height 12px
		border-radius 100%
		background-color c-0
		margin-left 10px
		transition all .3s
		&.active
			width 25px
			border-radius 10px
		&:first-child
			margin-left 0
		
		
	.owl-nav
		position absolute
		top 45%
		width 100%
		left 0
	.owl-prev,
	.owl-next
		position absolute
		top 0
		font-size 40px
		color c-1
		cursor pointer
		&:hover
			color c-2
	.owl-prev
		left -60px
	.owl-next	
		right -60px	
	@media screen and (max-width 960px)		
		.owl-prev,
		.owl-next	
			position static
		.owl-nav
			position static
			display flex
			justify-content center
			margin-top 10px
		.owl-prev
			margin-right 10px
		.owl-dots
			display none

.b4-headtab-wrap
	margin-bottom 50px
.b4-head-tab	
	color c-0
	text-transform uppercase
	width 245px
	background-color #fff
	display flex
	align-items center
	justify-content center
	min-height 73px
	font-size 18px
	font-family t-2
	margin-left 15px
	position relative
	cursor pointer
	&.active
		&:after
			height 125px
			opacity 1
	&:hover
		&:after
			opacity 1
	span
		position relative
		z-index 2
		width 150px
		display block
		text-align center
	&:after
		opacity 0
		transition all .3s
		content ""
		position absolute
		width 100%
		height 73px
		background-color c-1
		position absolute
		top 0
		left 0
		z-index 1
	&:first-child
		margin-left 0
	@media screen and (max-width 768px)
		width 32.65%
		margin-left 1%
		font-size 15px
		
		&:first-child
			margin-left 0
	@media screen and (max-width 480px)	
		min-height 50px		
		width 100%
		margin 0
		margin-bottom 5px
		&:after
			height 100% !important
		
.b4-headtab-inner		
	display flex
	justify-content center
	@media screen and (max-width 768px)
		flex-flow row wrap
		padding 0 20px

.b4-item-tab	
	position absolute
	top 0
	left 0
	width 100%
	z-index 1
	opacity 0
	visibility 
	transition all .3s
	padding 0 20px
	box-sizing border-box
	&.active
		z-index 2
		position relative
		visibility visible
		opacity 1

.b4-inner
	max-width 1024px
	margin 0 auto
	padding 60px 0
	padding-bottom 100px
	background-color #fff
	position relative
	background-image url(../img/tramado.png)
	&:after
		content ""
		position absolute
		top 35%
		left 35%
		height 13px
		width 13px	
		border-radius 100%
		background-color c-4
	&:before
		content ""
		position absolute
		top 0
		right 35%
		border-radius 100%
		border 2px solid c-4
		box-sizing border-box
		width 25px
		height 25px
		
		

.b4-circles-figura	
	position absolute
	bottom 20px
	right 20px
.b4-cnt-slider	
	max-width 800px
	margin 0 auto
	
	@media screen and (max-width 768px)
		padding 0 20px

.b4-title	
	max-width 160px
	margin 0 auto
	margin-bottom 15px
	font-size 15px
	font-family t-3
	color c-2
	text-transform uppercase

.b4-list-slider
	&.desktop
		display flex
		flex-flow row wrap
		justify-content center
		.b4-item-slider	
			margin 0
			width 29%
			margin-left 6%
			&:first-child
				margin-left 0
		@media screen and (max-width 850px)
			.b4-item-slider	
				margin-left 3%
				width 31%
		@media screen and (max-width 745px)		
			flex-direction column
			align-items center
			.b4-item-slider	
				width 233px
				margin-left 0
				margin-bottom 20px
		
.b4-item-slider	
	position relative
	display block
	img
		width 100%
		height auto
.b4-descripcion	
	position absolute
	top 0
	left 0
	width 100%
	flex-direction column
	height 100%
	display flex
	align-items center
	justify-content center
	padding 15px
	box-sizing border-box
	text-align center
	figure
		margin 0
		margin-bottom 20px
	p
		color #fff
		margin 0
		text-transform uppercase
		font-family t-3
		
.b4-content-tab		
	z-index 2
	position relative
	

	
